/*------------fuentes-----------------------*/
body{
   font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;           
            justify-content: center;  
            align-items: center;                          
            height: 100%; 
            width: 100%;
            max-width: 400px; 
            margin: auto; /* Centra el contenedor horizontalmente */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra suave alrededor del contenedor */
            border-radius: 8px; /* Bordes redondeados para un aspecto más suave */
            background-color: white; /* Fondo blanco para el contenedor */
            flex-direction: column; /* Alinea los elementos en columna */
            overflow: hidden; /* Evita que el contenido se desborde del contenedor */

}
   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}
    
    /*---------------------------HEADER Y NAV BAR-----------------------*/
    header{        
    display: flex;
    align-items: center;    
    justify-content: center;
    background-color: rgb(64, 165, 212);
    padding: 0.5rem;
    gap: 1rem;   
    width: 100%;            
    }
    header img{           
        width: 4rem;
        height: auto;        
    }
    header h2{               
        color: #2A3D5B;  
        font-size: smaller;       
    }  
    header h4{               
        color: #2A3D5B;
        text-align: center;         
    } 
    .iconoQuienesSomos{
        display: flex;          
        flex-direction: column;
        align-items: center;       
    }    
    .iconoQuienesSomos img{
        width: 5rem;
        height: auto;
        border-radius: 50%;
    }          
    .quienesSomos{
        border: none;
        background-color: transparent;
        text-decoration: underline;        
        font-weight: bolder;
        font-size: 0.5rem;       
    }
    .iconoQuienesSomos:hover{
        cursor: pointer;
        transform: scale(1.2);
    }
    .quienesSomos img{
        object-fit: cover;
    }     
    .listNav{
        display: flex;           
        list-style-type: none;
        gap: 1rem;  
        align-items: center;         
    }
    .listNav a{
        text-decoration: none;
        color: red;    
        font-size: 0.5rem;
    }
    .listNav a:hover{     
     color: blueviolet; 
     font-size: 1.7rem;    
    }          
    .cerrar-menu{           
        display: none;        
        background-color: red; 
       border: none;
       font-size: 1.5rem;                              
    }
    .abrir-menu{
     display: none;  
     border: none;     
     font-size: 2.5rem;
     background-color: white;
     color: red;     
    }  
    /*--------------------------FIN HEADER Y NAV BAR------------------------*/

    /*--------------------------CONTENEDOR PRINCIPAL----------------------- */
    .contenedorPrincipal{
        display: flex;
        flex-direction: column;
        overflow: hidden;        
        margin-top: 2em;         
        justify-content: center;
        align-items: center;         
    }
    /*-----------------------FIN CONTENEDOR PRINCIPAL---------------------- */

    /*--------------------------CUADRICULA---------------------------------*/
        .containerCuadricula{
            display: flex;
            justify-content: center;                                             
             
        }
        .containerCuadricula ul{      
        display: grid;
        grid-template-columns: 22em;       
        list-style-type: none;
        column-gap: 2em;
        row-gap: 1em; 
        margin-bottom: 2em;      
        }       
        .tarjeta{
            display: flex;
            flex-direction: column;
            border-radius: 0.5em;
            border: 2px solid darkgray;
            overflow: hidden; 
            box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, .5);          
        }    
        .tarjeta:hover{
            box-shadow: 6px 5px 5px 5px rgba(0, 0, 0, .5); 
            border-color: red;
        }
        .contImagenProducto{
            display: flex;
            justify-content: center;           
            padding: 0.5em;
            background-color: white;            
            height: 15em;                                  
        }
        .contImagenProducto img{            
            width: 100%; /* Ocupa todo el ancho de la celda */
            height: 100%;/* Ocupa el 60% de la altura de la celda */
            object-fit: cover; /* Ajusta la imagen para cubrir la celda */
             
        }
        .contSubtitulos { 
            background-color: grey;           
            padding: 0.5em 0.5em;            
            text-align: left; 
            font-size: 1rem;             
            color: #2A3D5B;             
            max-width: 100%; /* Establece el ancho máximo del contenedor */
            overflow: hidden; /* Oculta el texto que se desborda del contenedor */
            text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al texto desbordado */
            white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */   
                    
        }
        .contSubtitulos h3{
       color: white;
        } 
    /*---------------------------------FIN CUADRICULA--------------------------------*/

    /*--------------------------------------MAPA-------------------------------------*/
    .mapa{
        display: flex;  
        margin: 2em auto;      
        width: 30%;                         
        box-shadow: 2px 0vw 10px 10px rgba(0, 0, 0, .5);
        }  
    /*-------------------------------------FIN MAPA----------------------------------*/

     /*-----------------------------------FOOTER-------------------------------------*/
     footer{  
        position: relative;    
        background-color: red;
        height: 5rem;
        color: white;
        display: flex;    
        justify-content: center;
        align-items: center;      
        gap: 0.5rem; 
        margin-top: 2em;          
        }
        footer a{
            display: flex;
            color: white;
           align-items: center;
           text-decoration: none;       
        }
        footer img{
            width: auto;
            height: 2rem;
            margin-left: 0.5rem;
        }         
    /*----------------------------------FIN FOOTER---------------------------------*/

   